<div class="container">
    <h1>Lista de compras</h1>

    <form #forms="ngForm" action="" class="add-item-form" (ngSubmit)="adicionarItemLista()">
        <input type="text" id="item" placeholder="Digite o nome do item" name="item" [(ngModel)]="item">
        <button type="submit">Adicionar</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Item</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (item of listaDeItens; track item.id) {
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.nome }}</td>
                    <td><input type="checkbox" [(ngModel)]="item.comprado"></td>
                </tr>
            } @empty {
                <tr>
                    <td colspan="3">Nenhum item adicionado.</td>
                </tr>
            }
        </tbody>
    </table>
</div>